@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin center-vh {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/******** MEDIA QUERIES *********
/ 0    - 600px    Phone
/ 601  - 900px    Tablet portrait
/ 901  - 1200px   Tablet landscape
/[1201 - 1800px]   is where normally our style apply
/ 1800 - ∞        big Desktop
/******************************/


/****** MEDIA QUERIES MANAGER *******
/
/   $breakpoint argument choices
/   - x-small  — Phone
/   - small    — Tablet portrait
/   - medium   — Tablet landscape
/   - x-large  — Big desktop
/
/   em's the best choice for media queries (1em = 16px)
/*************************************/

@mixin breakpoint($breakpoint) {
  // x-small — Phone
  @if $breakpoint == x-small {
    @media (max-width: 37.5em) { @content }   // 600px
  }
  // small — Tablet portrait
  @if $breakpoint == small {
    @media (max-width: 56.25em) { @content }  // 900px
  }
  // medium — Tablet landscape
  @if $breakpoint == medium {
    @media (max-width: 75em) { @content }     // 1200px
  }
  // x-large — Large desktop
  @if $breakpoint == x-large {
    @media (min-width: 112.5em) { @content }  // 1800px
  }
}
