body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */
  }
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;
  }
}

//.btn-text {
//    &:link, &:visited {
//        font-size: 1.6rem;
//        color: $color-primary;
//        display: inline-block;
//        text-decoration: none;
//        border-bottom: 1px solid $color-primary;
//        padding: 3px;
//        transition: all .2s; }
//
//    &:hover {
//        background-color: $color-primary;
//        color: $color-white;
//        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
//        transform: translateY(-2px); }
//
//    &:active {
//        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
//        transform: translateY(0); }
//}
