.navigation {

  &__checkbox {
    display: none;
  }

  &__button {
    width: 7rem;
    height: 7rem;
    position: fixed;
    z-index: 200;
    top: 6rem;
    right: 6rem;
    background-color: $color-white;
    border-radius: 50%;
    cursor: pointer;

  }

  &__bg {
    width: 6rem;
    height: 6rem;
    position: fixed;
    z-index: 100;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    border-radius: 50%;
    transition: all .8s cubic-bezier(0.86, 0, 0.07, 1);
    box-shadow: 0 1rem 3rem rgba($color-black, .3);

  }

  &__nav {
    width: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
    opacity: 0;
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__list {
    @include center-vh;
    list-style: none;

  }

  &__item {

  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      text-decoration: none;
      color: $color-white;
      margin: .5rem;
      padding: 1rem 2rem;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
      background-size: 230%;
      transition: all .4s;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }

  // FUNCTIONALITY
  &__checkbox:checked ~ &__bg {
    transform: scale(60);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  // NAV ICON
  &__icon {
    margin-top: 3.3rem;
    cursor: pointer;

    &,
    &::before,
    &::after {
      display: inline-block;
      position: relative;
      width: 3rem;
      height: 3px;
      background-color: $color-grey-dark-1;

    }

    &::before,
    &::after {
      position: absolute;
      content: "";
      left: 0;
      transition: all .2s;
    }

    &::before {top: -.8rem}
    &::after {top: .8rem}
  }

  &__button:hover &__icon::before {
    top: -1rem
  }

  &__button:hover &__icon::after {
    top: 1rem
  }

  &__checkbox:checked + &__button &__icon {
    background: transparent;
  }

  &__checkbox:checked + &__button &__icon:before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon:after {
    top: 0;
    transform: rotate(-135deg);
  }
}